.form {
  background-color: #fff;

  input {
    border: 1px solid #C0C0C0;
    border-radius: 5px;

    &::placeholder {
      color: #000000;
    }
  }

  .select2-container {
    width: 100% !important;
  }

  &__edit-mob {
    display: none !important;
  }

  &__buttons-mob {
    display: none;
  }

  &__input-singl {
    margin: 0 0 40px 0;
  }

  &__input-date {
    max-width: 505px;
    width: 100%;
  }

  &__input-btn {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;

    .form__input-wrap {
      margin: 0 20px 0 0;
      max-width: 277px;
      width: 100%;
    }

    button {
      padding: 5px 15px;
      width: 100%;
      background-color: transparent;
      border: 1px solid #C0C0C0;
      border-radius: 5px;
      text-align: left;
      height: 50px;
    }
  }

  &__input-card {
    margin: 0 0 28px 0;
    max-width: 505px;
  }

  p {
    margin: 30px 0 28px 0;
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    line-height: 140%;
    color: #343C66;
  }

  &__input-btn input {
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }

  &__inner {
    margin: 0 0 40px -30px;
    display: flex;
    align-items: center;

    .form__select-wrap,
    .form__input-wrap {
      margin: 0 0 0 30px;
      width: calc(33.33333% - 30px);
    }

    .form__requred-large {
      max-width: 530px;
      width: 100%;
    }

    &--social {
      max-width: 790px;

      input {
        padding: 5px 15px 5px 45px !important;
      }
    }
  }

  &__inner-half {
    .form__input-wrap {
      width: calc(50% - 30px);
    }
  }

  &__input-pasw input {
    padding: 5px 45px 5px 15px !important;
  }

  &__input-img {
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    left: 15px;
  }

  &__input-wrap {
    &--mail {
      max-width: 270px;
      width: 100% !important;
    }
  }

  &__inner-price {
    margin: 40px 0 30px -30px;

    .form__select-wrap,
    .form__input-wrap {
      max-width: 240px;
      width: 100%;
    }
  }

  &__inner-requred {

    input,
    .select2-container {
      width: calc(100% - 26px) !important;
    }

    .form__input-wrap {
      position: relative;
    }

  }
  .form__icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    z-index: 100;
    cursor: pointer;
  }

  .form__icon-text {
    display: none;
    position: absolute;
    top: -7px;
    right: 30px;
    width: 160px;
    font-size: 12px;
    color: #fff;
    background-color: #343C66;
    border-radius: 5px;
    padding: 15px;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      right: -14px;
      width: 15px;
      height: 20px;
      border-top: 10px solid transparent;
      border-left: 15px solid #343C66;
      border-bottom: 10px solid transparent;
    }
  }
  .form__icon:hover{
    .form__icon-text {
      display: block;
    }
    svg{
      opacity: .5;
    }
  }

  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #000000;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 50px;
    color: #000000;
    padding: 10px 15px 10px 15px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 5px;
    height: 50px;
  }

  .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    height: 50px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #00040E;
    border-style: solid;
    border-width: 1px;
    height: 7px;
    width: 7px;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    border-top: none;
    border-left: none;
    transform: rotate(45deg) translate(-50%, -50%);
  }

  &__select-wrap,
  &__input-wrap {
    position: relative;

    input {
      width: 100%;
      padding: 5px 15px;
      height: 50px;
      outline: none;
    }
  }

  &__sup {
    position: absolute;
    top: -7px;
    left: 10px;
    padding: 0 5px;
    background-color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #343C66;
    z-index: 20;
  }

  &__labels-wrap {
    margin: 0 0 40px 0;
  }

  &__checkbox-wrapper {
    margin: 0 0 30px 0;
    display: flex;

    .form__label {
      margin: 0 40px 0 0;
    }
  }

  &__checkbox-fake {
    margin: 0 8px 0 0;
  }

  &__radio-fake {
    margin: 0 8px 0 0;
  }

  &__label-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__radio,
  &__checkbox {
    display: none;
  }

  &__radio-fake,
  &__checkbox-fake {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #C0C0C0;
    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $orange;
      opacity: 0;
      transition: linear .1s;
    }
  }

  &__checkbox-fake {
    min-width: 15px;
    max-width: 15px;
    min-height: 15px;
    max-height: 15px;
    border-radius: 3px;

    &::before {
      background-color: transparent;
      width: 10px;
      height: 8px;
      background-image: url("../images/dest/icons/check.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__radio:checked+.form__radio-fake,
  &__checkbox:checked+.form__checkbox-fake {
    border-color: $orange;
  }

  &__radio:checked+.form__radio-fake::before,
  &__checkbox:checked+.form__checkbox-fake::before {
    opacity: 1;
  }

  &__buttons {
    margin: -15px 0 0 0;
    display: flex;
    align-items: center;

    .btn--orange2 {
      margin: 0 0 0 25px;
    }

    span {
      display: block;
      margin: 0 30px;
    }
  }

  &__input-show {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: block;
    width: 15px;
    height: 15px;
    background-image: url("../images/dest/icons/eye-1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
  }

  &__input-show.active {
    background-image: url("../images/dest/icons/eye-2.svg");
  }

  &__edit {
    margin: 5px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h6 {
      font-family: 'Comfortaa', sans-serif;
      font-weight: 500;
      font-size: 24px;
      color: #343C66;
    }

    a {
      font-family: 'Comfortaa', sans-serif;
      font-size: 12px;
      line-height: 13px;
      text-decoration-line: underline;
      color: $orange;

      &:hover {
        color: #353d66;
      }
    }

    &--bottom {
      border-top: 1px solid #340022;
      padding: 30px 0 0 0;
    }
  }

  &__btn-wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 0 10px -30px;
  }

  &__add-photo {
    position: relative;
    margin: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(25% - 30px);
    height: 180px;
    background-color: #D9D9D9;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;

    img {
      margin: 0 0 13px 0;
      width: 48px;
      height: 44px;
      object-fit: contain;
    }

    span {
      font-family: 'Comfortaa', sans-serif;
      font-size: 14px;
      line-height: 16px;
      text-decoration-line: underline;
      color: #fff;
    }
  }

  &__add-main,
  &__add-submain {
    .form__add-photo:first-child {
      position: relative;

      &::before {
        position: absolute;
        top: -8px;
        left: 13px;
        font-size: 12px;
        color: #343C66;
        background-color: #fff;
        padding: 2px 4px;
      }
    }
  }

  &__add-main {
    .form__add-photo:first-child {
      &::before {
        content: "Гланое фото *";
      }
    }

  }

  &__add-submain {
    .form__add-photo:first-child {
      &::before {
        content: "Дополнительные фото";
      }
    }
  }

  &__add-btn {
    margin: -15px 0 35px 0;
    padding: 0;
    display: flex;
    font-family: 'Comfortaa', sans-serif;
    line-height: 16px;
    text-decoration-line: underline;
    color: $orange;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      color: #353d66;
    }
  }
  &__add-margin{
    margin: -35px 0 35px 0;
  }
  &__textarea-wrap {
    margin: 0 0 40px 0;
    position: relative;
    width: 100%;
  }

  textarea {
    padding: 10px 15px;
    width: 100%;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    outline: none;
    resize: none;
  }

  &__textarea-regular {
    height: 304px;
  }

  &--login {
    max-width: 512px;
    width: 100%;

    .form__input-wrap {
      margin: 0 0 20px 0;
    }

    .form__label-text {
      font-size: 12px;
      line-height: 140%;
      color: #00040E;
    }

    .form__label {
      margin: 0;
    }

    .form__checkbox-fake {
      margin: 0 10px 0 0;
    }

    .form__label-box {
      margin: 0 0 40px 0;

      a {
        font-size: 12px;
        color: #B8B7B7;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .form__select-wrap {
      margin: 0 0 20px 0;
    }
  }

  &--search {

    .form__select-wrap,
    .form__input-wrap {
      margin: 0 0 15px 0;
    }

    .form__buttons {
      margin: 30px 0 0 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .btn {
      max-width: 290px;
      width: 100%;
      margin: 0 0 15px 0;
      display: flex;
      justify-content: center;
    }

    a {
      color: $orange;
      text-decoration: underline;

      &:hover {
        color: #353d66;
      }
    }
  }

  &--registration {
    .form__label-box a {
      color: $orange;
    }
  }
  &__wrapper-requred{
    display: none;
    .form__inner-requred:last-child{
      margin: 0 0 0 -30px;
    }
  }
}